body {
  text-align: center;
  background-color: #f4f4f4;
  color: #444;
  padding: 2em;
  font-family: Calibri, sans-serif;
}

hr {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0;
  color: #e5e5e5;
}

.header {
  margin-bottom: 1em;
}

.instructions {
  color: #777;
  font-size: 0.8em;
}

.option-list {
  margin: 0 auto;
  margin-bottom: 0.5em;
  text-align: center;
}

.option-card {
  width: 10em;
  border-style: solid;
  border-color: #eee;
  margin: auto;
  margin-top: 2em;
  background-color: #fff;
  border-width: 1px;
  display: block;
  text-align: left;
  box-shadow: 0px 3px 10px 0px #e0e0e0;
}

.delete-button {
  margin-left: 0.25em;
  margin-top: 0.25em;
  border: none;
  color: #777;
  background-color: rgb(1, 1, 1, 0);
}

.option-title {
  display: block;
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 1.5em;
}

.selected {
  border-color: #FFDA3E;
  background-color: #FFFDF2;
}

.selected.completed {
  animation-name: winner;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes winner {
  from {
    background-color: #FFF9DE;
    border-color: #FFDA3E;
  }
  to {
    border-color: #BFB;
    background-color: #f0fff0;
    transform: translate(0, -.5em);
    box-shadow: 0px 8px 30px 0px #e0e0e0;
  }
}

.ignored {
  opacity: 0.5;
  box-shadow: 0px 1px 5px 0px #e0e0e0;
}

/* TODO add animation for ignore on/off */

button {
  background-color: #ffffff;
}


.add-button {
  border: none;
  background-color: #f4f4f4;
  color: #777;
  font-size: 2em;
}

.roll-button {
  background-color: #108Bff;
  border-radius: 10px;
  color: white;
  border: none;
  border-color: #eee;
  padding: 15px 32px;
  display: inline-block;
  margin-top: 2em;
}

.roll-button:disabled {
  animation-name: rolling;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes rolling {
  to {
    padding: 15px 16px;
    background-color: #095CAA;
    opacity: 0.8;
  }
}

input {
display: block; font-size: 2em; margin-top: 0.67em; margin-bottom: 0.67em; margin-left: 0; margin-right: 0; font-weight: bold;  
  color: #777;
  background-color: rgb(0, 0, 255, 0);
  text-align: center;
  width: 100%;
  outline: none;
  border: none;
}
